body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: #40410E;
}

h1 {
    font-size: 6rem;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    padding-top: 100px;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 90;
    color: #66BFBF;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Monserrat' sans-serif;
    color: #11999E;
}

div {
    background-color: #ffffff;
}

hr {
    border-top: 5px dotted #EAF6F6;
    width: 5%;
    border-left: #EAF6F6;
    border-right: #EAF6F6;
    border-bottom: none;
    margin: 50px auto;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px; 
    text-decoration: none;
}

a:hover {
    color: #9da0a0;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
}

.middle-container {
    margin: 50px 0;
}

.bottom-container {
    background-color: #EAF6F6;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 40px;
}

.bot-cloud {
    position: absolute;
    left: 250px;
    bottom: 270px;
}

.triph {
    width: 15%;
}

.py-img {
    width: 15%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.leader-img {
    width: 15%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.btn {
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #699696;
    text-decoration: none;
  }

.contact-msg {
    width: 40%;
    margin: auto;
}

.copyright {
    color: #11999E;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0px;
}